@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@font-face {
    font-family: 'Passion One';
    src: url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

}

@font-face {
    font-family: 'Sriracha';
    src: url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
}

:root {
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: 'Passion One', Cursive;
    --fonte03: 'Sriracha', Cursive;

}


* {
    margin: 0px;
    padding: 0px;
    
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte01);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1  {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte02);
    font-size: 10vw;

}

header > p {
    color: white;
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font: normal 3.5vw var(--fonte03) ;
    

}

.fundo_comum {
    background-color: white;
    color: black;


}

.fundo_imagem {
    background-color: rgba(0, 0, 0, 0.568);
    color: white;
    box-shadow: inset 8px 8px 13px 0px rgba(0, 0, 0, 0.527);
    


}

.fundo_imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.397);
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

#parallax1 {
    background: url(imagens/background001.jpg)  no-repeat right center fixed;
    background-position: cover;
    
}

#parallax2 {
    background: url(imagens/background002.jpg)  no-repeat right center fixed;
    background-position: cover;
}

footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;

}


